.container {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}

.container h1 {
    margin-bottom: 30px;
    font-size: 5rem;
}

.container p {
    font-size: 1.5rem;
}